Visual Studio 2012/
Visual Studio 2012Templates/
TanCraft.sdf
Debug/
TanCraft.v11.suo
TanCraft/Debug/
Tancraft.sdf
Tancraft.suo
Tancraft.v11.suo
Tancraft.opensdf
*.ipch
!TanCraft/Debug/ikpMP3.dll
!TanCraft/Debug/irrKlang.dll