BulletPower
{
    zorder 200
	
    container Panel(BulletPower/Panel)
    {
	  metrics_mode relative
      left 0.8
      top 0.96
      width 0.19
      height 0.04
	  material BlueSemiTran
	  
		element TextArea(BulletPower/Panel/BulletPowertext)
		{
		 metrics_mode relative
         left 0.01
		 top 0.01
         font_name BlueHighwayBig
         char_height 0.03
         colour 1 1 1
         caption BulletPower:
		}
    }
}



// Sample/Overlay1   // You can name this anything you like.  
// {
    // container Panel(Sample/Overlay1/Panel) //  You can name this anything you like.  The directory-like structure is purely optional
    // {

		// material BlueSemiTran
		
		// left 0.1
		// top 0.3
		// width 0.8
		// height 0.4

		
	  	// element TextArea(Sample/TextArea1)
		// {
		// metrics_mode relative
		
         // left 0.1
		 // top 0.05
         // font_name BlueHighwayBig
         // char_height 0.05
         // colour 1 1 1
         // caption Sample Text Here
		// }
		
		// element TextArea(Sample/TextArea2)
		// {
		// metrics_mode relative
		
         // left 0.1
		 // top 0.2
         // font_name BlueHighwayBig
         // char_height 0.05
         // colour 1 1 1
         // caption More Sample Text Here
		// }
		
		
    // }   
// }
