GameOver
{
    zorder 200
	
    container Panel(GameOver/Panel)
    {
      metrics_mode relative

      left 0.35
      top 0.5
      width 0.4
      height 0.1
	  material BlueSemiTran
	  
		element TextArea(GameOver/Panel/Text1)
		{
		metrics_mode relative
		
         left 0.15
		 top 0.01
         font_name BlueHighwayBig
         char_height 0.03
         colour 1 1 1
         caption Game Over
		}
		element TextArea(GameOver/Panel/Text2)
		{
		 left 0.08
		 top 0.05
         font_name BlueHighwayBig
         char_height 0.03
         colour 1 1 1
         caption Press Enter to play again
		}
    }
}